@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff');
  src: local('Muller Medium'), local('MullerMedium'),
      url('../fonts/MullerMedium.woff2') format('woff2'),
      url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff');
  src: local('Muller Regular'), local('MullerRegular'),
      url('../fonts/MullerRegular.woff2') format('woff2'),
      url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff');
  src: local('Muller Bold'), local('MullerBold'),
      url('../fonts/MullerBold.woff2') format('woff2'),
      url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
  background-color: #E5E5E5;
  font-size: 0;
}

.link_style {
  color: inherit;
  text-decoration: none;
}

.img_style {
  max-width: 100%;
}

.list_reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button_reset {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.main {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-style {
  margin: 0;
  margin-bottom: 70px;
}

.section-style:last-child {
  margin-bottom: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.section-title {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  margin-top: 0;
  margin-left: 40px;
  color: #333333;
}

/* HEADER */

.header {
  margin-top: 30px;
}

.header-flex {
  flex-direction: column;
}

.header-info {
  align-items: center;
  margin-bottom: 30px;
}

.header-nav-block {
  width: 1170px;
  min-height: 70px;
  background-color: #ffffff;
  padding: 14px 45px;
  border-radius: 15px;
}

.header-logo-link {
  margin-right: 40px;
}

.header-phone_number-link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #666666;
}

.header-account {
  margin-left: auto;
  color: #CC9933;
  font-size: 16px;
  line-height: 16px;
  padding-left: 26px;
  background-image: url('../img/header-account.svg');
  background-repeat: no-repeat;
  background-position: left;
}
.header-nav {
  margin-right: 56px;
  align-items: center;
}

.header-buttons {
  border-left: 1px solid #E1E1E1;
  padding-left: 57px;
}

.header-button {
  margin-right: 40px;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #CC9933;
  box-sizing: border-box;
  border-radius: 10px;
  color: #CC9933;
  padding: 13px 20px;
}

.header-button:last-child {
  margin-right: 0;
}

.header-nav-item:not(:last-child) {
  margin-right: 45px;
}

.header-nav-link {
  font-size: 16px;
  line-height: 16px;
}

/* SPECIAL */

.main-special-title {
  margin-bottom: 20px;
}

.main-special-list {
  gap: 23px;
}

.main-special-item {
  width: 573px;
  min-height: 540px;
  border-radius: 15px;
}

.main-special-item:last-child {
  background-image: url('../img/main-special-3.jpg');
  background-size: cover;
  padding: 211px 234px 40px 40px;
}

.main-special-sublist {
  flex-direction: column;
  gap: 23px;
}

.main-special-subitem {
  width: 573px;
  min-height: 258px;
  border-radius: 15px;
  padding: 40px 234px 40px 40px;
  background-size: cover;
}

.main-special-subitem:nth-child(1) {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/main-special-1.jpg');
}

.main-special-subitem:nth-child(2) {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/main-special-2.jpg');
}

.main-special-articles {
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.main-special-subtitle {
  margin: 0 0 15px 0;
  color: #ffffff;
  font-weight: 700;
}

.main-special-subtitle-low {
  font-size: 40px;
  line-height: 40px;
}

.main-special-subtitle-hight {
  font-size: 60px;
  line-height: 60px;
}

.main-special-paragraph {
  margin:0 0 47px 0;
  color: #ffffff;
  font-weight: 400;
}

.main-special-paragraph-low {
  font-size: 20px;
  line-height: 20px;
}

.main-special-paragraph-hight {
  font-size: 30px;
  line-height: 30px;
}

.main-special-link {
  font-size: 16px;
  line-height: 16px;
  color: #FFCC66;
  padding-right: 16px;
  background-image: url('../img/main-special-item-link.svg');
  background-position: right;
  background-repeat: no-repeat;
}

/* COMPANY */

.main-company-container {
  margin: 0;
  margin-right: auto;
}

.main-company-title {
  margin-bottom: 11px;
}

.main-company-text {
  font-size: 16px;
  line-height: 32px;
  width: 888px;
  margin: 0;
}

/* SERVICES */

.main-services-title {
  margin-bottom: 20px;
}

.main-services-list {
  flex-wrap: wrap;
  gap: 23px;
}

.main-services-item {
  width: 573px;
  min-height: 330px;
  background-color: #ffffff;
  border-radius: 15px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 165px 126px 50px 45px;
  align-items: flex-start;
  background-repeat: no-repeat;
}

.main-services-item:nth-child(1) {
  background-image:  url('../img/main-services-1.jpg');
}

.main-services-item:nth-child(2) {
  background-image: url('../img/main-services-2.jpg');
}

.main-services-item:nth-child(3) {
  background-image: url('../img/main-services-3.jpg');
}

.main-services-item:nth-child(4) {
  background-image: url('../img/main-services-4.jpg');
}

.main-services-item-link {
  display: inline-block;
  margin-top: 26px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  color: #CC9933;
  padding-right: 16px;
  background-image: url('../img/main-special-item-link.svg');
  background-repeat: no-repeat;
  background-position: right;
}

.main-services-item-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #000000;
}

/* PRIVILEGE */

.main-privilege-item {
  width: 275px;
  min-height: 275px;
  background-color: #ffffff;
  border-radius: 15px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 116px 42px 41px 45px;
  background-position: 45px 40px;
  background-repeat: no-repeat;
}

.main-privilege-item:nth-child(1) {
  background-image: url('../img/main-privilege-1.svg');
}

.main-privilege-item:nth-child(2) {
  background-image: url('../img/main-privilege-2.svg');
}

.main-privilege-item:nth-child(3) {
  background-image: url('../img/main-privilege-3.svg');
}

.main-privilege-item:nth-child(4) {
  background-image: url('../img/main-privilege-4.svg');
}

.main-privilege-item:nth-child(5) {
  background-image: url('../img/main-privilege-5.svg');
}

.main-privilege-item:nth-child(6) {
  background-image: url('../img/main-privilege-6.svg');
}

.main-privilege-item:nth-child(7) {
  background-image: url('../img/main-privilege-7.svg');
}

.main-privilege-item:nth-child(8) {
  background-image: url('../img/main-privilege-8.svg');
}

.main-privilege-item-text {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.main-privilege-title {
  margin-bottom: 30px;
}

.main-privilege-list {
  flex-wrap: wrap;
  gap: 23px;
}

/* OFFER */

.main-offer-img {
  margin-bottom: 36px;
}

.main-offer-title {
  margin-bottom: 30px;
}

.main-offer-list {
  flex-wrap: wrap;
  gap: 23px;
}

.main-offer-item {
  overflow: hidden;
  width: 374px;
  min-height: 440px;
  background-color: #ffffff;
  border-radius: 15px;
  background-repeat: no-repeat;
}

.main-offer-item:nth-child(9) {
  background-image: url('../img/main-offer-9.jpg');
  background-position: top;
  background-size: cover;
  padding: 373px 53px 27px 54px;
}

.main-offer-subitem {
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 46px 41px 45px;
}

.main-offer-price-from {
  max-width: 234px;
  margin:0 auto 16px 0;
  color: #999999;
  font-size: 16px;
  line-height: 16px;
}

.main-offer-star-flex {
  gap: 6px;
}

.main-offer-star {
  margin: 0;
  align-self: flex-start;
}


.main-offer-hotel {
  max-width: 234px;
  margin: 0;
  margin-bottom: 16px;
  flex-basis: 100%;
  font-size: 16px;
  line-height: 16px;
}

.main-offer-location {
  max-width: 234px;
  margin: 0;
  margin-bottom: 20px;
  margin-right: auto;
  flex-basis: 100%;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.main-offer-room {
  max-width: 234px;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  border: 1px solid #CC9933;
  box-sizing: border-box;
  border-radius: 10px;
  color: #CC9933;
  padding: 13px 20px;
}

.main-offer-link {
  color: #ffffff;
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  background-image: url('../img/main-offer-link.svg');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 16px;
}

.main-offer-price-day {
  color: #000000;
}

.main-offer-price-count {
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

/* MYTOUR */

.main-mytour {
  background-color: #E9E9E9;
  width: 1170px;
  height: 274px;
  border-radius: 15px;
  padding: 38px 0 71px 0;
}

.main-mytour-title {
  color:#000000;
  margin-bottom: 19px;
}

.main-mytour-check {
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
  min-height: 106px;
  width: 1080px;
  margin: 0 auto;
  padding: 31px 28px 32px 28px;
}

.main-mytour-check-form-button {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  border: 1px solid #CC9933;
  box-sizing: border-box;
  border-radius: 10px;
  color: #CC9933;
  padding: 13px 30px;
  margin-left: 20px;
}

.main-mytour-check-form {
  flex-direction: column;
  border-right: 1px solid #E1E1E1;
  padding-right: 20px;
  padding-left: 20px;
}

.main-mytour-check-form:nth-child(1) {
  padding-left: 0;
}

.main-mytour-check-form:last-child {
  padding-right: 30px;
}

.main-mytour-check-form-label {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  margin-bottom: 15px;
}

.main-mytour-check-form-input {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  border: 0;
}

.form_style_date {
  width: 181px;
}

.form_style_number {
  width: 151px;
}

.form_style_sity {
  width: 189px;
}

.form_style_country {
  width: 209px;
}

.form_style_border {
  box-sizing: border-box;
  border-bottom: 1px solid #CCCCCC;
}

/* CONTACTS */

.main-contacts-title {
  margin-bottom: 26px;
}

.main-contacts-block {
  background-color: #ffffff;
  border-radius: 15px;
  min-height: 618px;
  padding: 44px 44px 46px 46px;

}

.main-contacts-img {
  width: 653px;
  height: 528px;
  background-image: url('../img/main-contacts.jpg');
  background-repeat: no-repeat;
}

.main-contacts-list {
  flex-direction: column;
  margin-right: 51px;
  width: 375px;
  align-items: flex-start;
}

.main-contacts-item {
  border-bottom: 1px solid #C4C4C4;
  padding-bottom: 23px;
  margin-bottom: 25px;
}

.main-contacts-button {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  margin: 25px 0 0 0;
  border: 1px solid #CC9933;
  box-sizing: border-box;
  border-radius: 10px;
  color: #CC9933;
  padding: 27px 29px;
}

.main-contacts-subtitle-block {
  width: 145px;
}

.main-contacts-info {
  width: 229px;
}

.main-contacts-subtitle {
  display: block;
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
  font-weight: 700;
}

.main-contacts-text {
  margin: 0;
  display: block;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.main-contacts-link {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #CC9933
}

.main-contacts-subtext {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999
}

/* FOOTER */

.footer {
  width: 1170px;
  margin: 20px auto;
  min-height: 341px;
  background-color: #333333;
  border-radius: 15px;
  background-image: url('../img/footer-logo.svg');
  background-repeat: no-repeat;
  background-position: 738px 113px;
  padding: 0 51px 46px 52px;
}


.footer-company {
  width: 320px;
  margin-top: 44px;
  margin-right: 102px;
}

.footer-company-text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 28px;
}

.footer-company-text:nth-child(2) {
  margin-bottom: 49px;
}

.footer-company-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #CC9933;
}

.footer-address {
  margin-top: 51px;
  margin-right: 260px;
}

.footer-address-company {
  color: #ffffff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-style:normal;
  margin-bottom: 14px;
}

.footer-address-link {
  display: block;
  width: max-content;
  color: #CC9933;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.footer-address-link-margin {
  margin-bottom: 15px;
}

.footer-link {
  margin-top: 51px;
}

.footer-link-list {
  flex-direction: column;
  gap: 20px;
}

.footer-link-social {
  display: block;
  width: 25px;
  height: 25px;
}

.footer-link-item:nth-child(1) {
  background-image: url('../img/footer-mass-1.svg');
}

.footer-link-item:nth-child(2) {
  background-image: url('../img/footer-mass-2.svg');
}

.footer-link-item:nth-child(3) {
  background-image: url('../img/footer-mass-3.svg');
}

.footer-link-item:nth-child(4) {
  background-image: url('../img/footer-mass-4.svg');
}

.footer-link-item:nth-child(5) {
  background-image: url('../img/footer-mass-5.svg');
}
